
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Kategoriler</p>
            <div class="list-group">
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-menu-hamburger"></span>Tümü</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-menu-right"></span>Category 1</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-menu-right"></span>Category 2</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-menu-right"></span>Category 3</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="~/Images/a5eebe0fbab64f2a0f517bfc58bd1f93.jpg" alt="">
                            </div>
                            <div class="item">

                                <img class="slide-image" src="~/Images/7f5f72b43cfbaa8fc0ce70d228c685ed.jpg" alt="">
                            </div>

                            <div class="item">
                                <img class="slide-image" src="~/Images/c0fc6718137400881ab8a02c538cb65e.jpg" alt="">
                            </div>""
                          
                            <div class="item">
                                <img class="slide-image" src="~/Images/e12ab41303db9c8e133687dacdc43e3d--wallpaper-sky-nature-wallpaper.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">

                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6 class="text-right">
                                <span class="glyphicon glyphicon-user text-success"></span><b><span style="color:rebeccapurple"> Gökçe Ünlü</span></b><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />

                            </h6>

                            <p>Ut fusce varius t integer eu augue augue nunc elit dolor, luctus placerat.</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-comment"></span>  Yorumlar</button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-heart text-danger"></span>12</button>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">

                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6 class="text-right">
                                <span class="glyphicon glyphicon-user text-success"></span><b><span style="color:rebeccapurple"> Gökçe Ünlü</span></b><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />

                            </h6>

                            <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-comment"></span>  Yorumlar</button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-heart text-danger"></span>12</button>


                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">

                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6 class="text-right">
                                <span class="glyphicon glyphicon-user text-success"></span><b><span style="color:rebeccapurple"> Gökçe Ünlü</span></b><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />

                            </h6>

                            <p>Ut fusce varius nisl ac ipsum gravida vgfhtfhhfhfhtfdtel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-comment"></span>  Yorumlar</button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-heart text-danger"></span>12</button>


                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">

                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6 class="text-right">
                                <span class="glyphicon glyphicon-user text-success"></span><b><span style="color:rebeccapurple"> Gökçe Ünlü</span></b><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />

                            </h6>

                            <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-comment"></span>  Yorumlar</button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-heart text-danger"></span>12</button>


                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">

                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6 class="text-right">
                                <span class="glyphicon glyphicon-user text-success"></span><b><span style="color:rebeccapurple"> Gökçe Ünlü</span></b><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />

                            </h6>

                            <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-comment"></span>  Yorumlar</button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-heart text-danger"></span>12</button>


                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">

                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6 class="text-right">
                                <span class="glyphicon glyphicon-user text-success"></span><b><span style="color:rebeccapurple"> Gökçe Ünlü</span></b><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />

                            </h6>

                            <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-comment"></span>  Yorumlar</button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-heart text-danger"></span>12</button>


                            </p>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>

</div>

